# Xcode
build/
DerivedData/
xcuserdata/
/.build
/Packages
*.xcuserdata
*.xcworkspace

# macOS
.DS_Store

# Swift PM
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
